<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hashCode与Collections/src/hashCode与Collections/hash/HashTableDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hashCode与Collections.hash.HashTableDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hashCode与Collections"/>
</launchConfiguration>
