<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Debug技术/src/自定义异常类/com/vince/homework/Homework1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="自定义异常类.com.vince.homework.Homework1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Debug技术"/>
</launchConfiguration>
