<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/在框架中添加标签的例程/src/在框架中添加标签的例程/J_LableFrame/J_LabelFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="在框架中添加标签的例程.J_LableFrame.J_LabelFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="在框架中添加标签的例程"/>
</launchConfiguration>
