<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JDBC实现简单增删改操作/src/jdbc/JdbcDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jdbc.JdbcDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDBC实现简单增删改操作"/>
</launchConfiguration>
