<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IO之对象流/src/com/vince/objectstream/ObjectStreamDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.vince.objectstream.ObjectStreamDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IO之对象流"/>
</launchConfiguration>
