<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IO之字符串流/src/com/vince/string/StringStreamDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.vince.string.StringStreamDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IO之字符串流"/>
</launchConfiguration>
